<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487717747763-4kccgqd00qboq3p0v3psnfl0b0k5se5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487717747763-4kccgqd00qboq3p0v3psnfl0b0k5se5d</string>
	<key>API_KEY</key>
	<string>AIzaSyBUyjL1iNW3C9JxboCq5761bnyFJJcisoE</string>
	<key>GCM_SENDER_ID</key>
	<string>487717747763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-1d341</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-1d341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487717747763:ios:cfce5173d719bccaccf746</string>
</dict>
</plist>